<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link href="/css/shoppingCard2.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .item {
            height: 450px;
        }
    </style>
</head>

<body>
    <h3 style="text-align: center;">Your Cart</h3>
    <div class="items">
        <p style='text-align:center;margin-top:10px'>No items in your cart</p>
    </div>
    <script>
        function getCart() {
            fetch('/buyer/cart')
                .then(response => response.json())
                .then(data => {
                    if (data.length !== 0) {
                        getCartItems(data)
                    }
                });
        }
        cartItems = [] //array of objects of cart items
        function getCartItems(data) {
            for (let i = 0; i < data.length; i++) {
                fetch(`/buyer/item/${data[i].id}`)
                    .then(response => response.json())
                    .then(content => {
                        cartItems.push(content[0])
                        if (cartItems.length === data.length) {
                            displayCartItems(cartItems, data)
                        }
                    })
            }
        }
        let titles = ['name', 'description', 'quantity', 'price']
        let titleNames = ['Name', 'Description', 'Quantity available', 'Total Price']

        function displayCartItems(data, cart) {
            let itemsDiv = document.querySelector('.items')
            itemsDiv.innerHTML = ""
            for (let i = 0; i < data.length; i++) {
                let itemDiv = document.createElement('div')
                itemDiv.className = 'item'
                let imgDiv = document.createElement('div')
                let img = document.createElement('img')
                img.className = 'item-image'
                img.src = `/uploads/${data[i].image}`
                imgDiv.appendChild(img)
                itemDiv.appendChild(imgDiv)
                let contentDiv = document.createElement('div')
                contentDiv.className = 'item-content'
                let quantityAvailable = -1;
                let lessMessage = false;
                for (let j = 0; j < titles.length; j++) {
                    let p = document.createElement('p')
                    let title = titles[j]
                    if (title === 'quantity') {
                        if (data[i][title] === 0) {
                            quantityAvailable = 0
                        }
                        else if (data[i][title] < cart[i].quantity) {
                            quantityAvailable = data[i][title]
                            lessMessage = true
                        }
                        else {
                            quantityAvailable = cart[i].quantity
                        }
                    }
                    if (title === 'price') {
                        p.innerHTML = `<b>${titleNames[j]}</b> : Rs ${data[i][title] * cart[i].quantity}`
                    }
                    else {
                        p.innerHTML = `<b>${titleNames[j]}</b> : ${data[i][title]}`
                    }
                    contentDiv.appendChild(p)
                }
                let p = document.createElement('p')
                p.innerHTML = `<b>Quantity added to Cart</b> : ${cart[i].quantity}`
                contentDiv.appendChild(p)
                let button = document.createElement('button')
                button.id = `item-${data[i].id}`
                if (quantityAvailable) {
                    button.innerHTML = 'ORDER NOW'
                    if (lessMessage) {
                        let p1 = document.createElement('p')
                        p1.innerHTML = '*Order will be taken only for the quantity available*'
                        contentDiv.appendChild(p1)
                    }
                    button.onclick = () => {
                        orderItem(data[i].id, quantityAvailable, data[i].price * cart[i].quantity)
                    }
                }
                else {
                    button.innerHTML = 'NO STOCK'
                }
                let removeButton = document.createElement('button')
                removeButton.innerHTML = 'REMOVE FROM CART'
                removeButton.onclick = () => {
                    removeItemFromCart(data[i].id)
                }
                contentDiv.appendChild(button)
                contentDiv.appendChild(removeButton)
                itemDiv.appendChild(contentDiv)
                itemsDiv.appendChild(itemDiv)

            }
        }
        getCart()
        function removeItemFromCart(itemId) {
            let index = cartItems.findIndex(item => item.id == itemId)
            cartItems.splice(index, 1)
            const itemDetails = {
                cart: cartItems
            }
            var xhr = new window.XMLHttpRequest();
            xhr.open('POST', '/buyer/addToCart', true)
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
            xhr.send(JSON.stringify(itemDetails));
            location.reload()
        }
        function orderItem(itemId, quantity, price) {
            document.getElementById(`item-${itemId}`).innerHTML = 'Ordered'
            const itemDetails = {
                id: itemId,
                quantity: quantity,
                price: price
            }
            var xhr = new window.XMLHttpRequest();
            xhr.open('POST', `/buyer/order`, true)
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
            xhr.send(JSON.stringify(itemDetails));
            removeItemFromCart(itemId);
        }
    </script>
</body>

</html>