<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/shoppingCard.css" rel="stylesheet" type="text/css">
    <style>
        .heading {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }

        .heading>a {
            margin-right: 12px;
        }

        .push-right {
            margin-left: auto;
        }

        h3 {
            text-align: center;
            margin-top: 23px;
        }

        .web-button {
            background: none;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h2>Welcome <span id="name">Shoppie</span></h2>
        <a href="/addItem" class="push-right"><button type="button" class="web-button">Add an item</button></a>
        <a href="/seller/orders"><button class="web-button">Orders by customers</button></a>
        <form action="/logout" method="POST">
            <button type="submit" id="log-out" class="web-button">Log Out</button>
        </form>
    </div>
    <h3>Your Items for sale</h3>
    <div class="items">

    </div>
    <script>
        function getName() {
            fetch('/name')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('name').innerHTML = data
                })
        }
        getName()
        function getItemsOfSeller() {
            fetch('/seller/items')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    displayItems(data);
                })
        }
        let titles = ['name', 'description', 'price', 'quantity']
        let titleNames = ['Name', 'Description', 'Price', 'Quantity']
        function displayItems(data) {
            let itemsDiv = document.querySelector('.items')
            for (let i = 0; i < data.length; i++) {
                let itemDiv = document.createElement('div')
                itemDiv.className = 'item'
                let imgDiv = document.createElement('div')
                let a = document.createElement('a')
                a.setAttribute('href', `/addimg/${data[i].id}`)
                let img = document.createElement('img')
                img.className = 'item-image'
                img.src = `/uploads/${data[i].image}`
                a.appendChild(img)
                imgDiv.appendChild(a)
                itemDiv.appendChild(imgDiv)
                let contentDiv = document.createElement('div')
                contentDiv.className = 'item-content'
                for (let j = 0; j < titles.length; j++) {
                    let p = document.createElement('p')
                    let title = titles[j]
                    p.innerHTML = `<b>${titleNames[j]}</b> : ${data[i][title]}`
                    contentDiv.appendChild(p)
                }
                let updateButton = document.createElement('a')
                updateButton.setAttribute('href', `/seller/update/${data[i].id}`)
                let button = document.createElement('button')
                button.innerHTML = 'UPDATE ITEM'
                updateButton.appendChild(button)
                contentDiv.appendChild(updateButton)
                itemDiv.appendChild(contentDiv)
                itemsDiv.appendChild(itemDiv)
            }
        }
        getItemsOfSeller()
    </script>
</body>

</html>