<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/shoppingCard.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .heading {
            display: flex;
            margin-top: 20px;
            width: 100%;
            justify-content: space-between;
        }

        .heading>a {
            margin-right: 12px;
        }

        .push-right {
            margin-left: auto;
        }

        h3 {
            text-align: center;
            margin-top: 23px;
        }

        .web-button {
            background: none;
            border: none;
            cursor: pointer;
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h2>Welcome <span id="name">Shoppie</span></h2>
        <a href="/seller/orders" class="push-right"><button class="web-button">Orders by customers <i
                    class="fa fa-money" aria-hidden="true"></i>
            </button></a>
        <a href="/addItem"><button type="button" class="web-button">Add an item<i class="fa fa-cart-plus"
                    aria-hidden="true"></i>
            </button></a>
        <form action="/logout" method="POST">
            <button type="submit" id="log-out" class="web-button">Log Out <i class="fa fa-sign-out"
                    aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <h3>Your Items for sale</h3>
    <div class="items">

    </div>
    <script>
        function getName() {
            fetch('/name')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('name').innerHTML = data
                })
        }
        getName()
        function getItemsOfSeller() {
            fetch('/seller/items')
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.length === 0) {
                        document.querySelector('.items').innerHTML = `<p style='text-align:center;margin-top:8px;'>No items added yet.</p>`
                    }
                    else {
                        displayItems(data)
                    }
                })
        }
        let titles = ['name', 'description', 'price', 'quantity']
        let titleNames = ['Name', 'Description', 'Price', 'Quantity']
        function displayItems(data) {
            let itemsDiv = document.querySelector('.items')
            itemsDiv.innerHTML = ""
            for (let i = 0; i < data.length; i++) {
                let itemDiv = document.createElement('div')
                itemDiv.className = 'item'
                let imgDiv = document.createElement('div')
                let a = document.createElement('a')
                a.setAttribute('href', `/addimg/${data[i].id}`)
                let img = document.createElement('img')
                img.className = 'item-image'
                img.src = `/uploads/${data[i].image}`
                a.appendChild(img)
                imgDiv.appendChild(a)
                itemDiv.appendChild(imgDiv)
                let contentDiv = document.createElement('div')
                contentDiv.className = 'item-content'
                for (let j = 0; j < titles.length; j++) {
                    let p = document.createElement('p')
                    let title = titles[j]
                    if (title === 'price') {
                        p.innerHTML = `<b>${titleNames[j]}</b> : Rs ${data[i][title]}`
                    }
                    else {
                        p.innerHTML = `<b>${titleNames[j]}</b> : ${data[i][title]}`
                    }
                    contentDiv.appendChild(p)
                }
                let updateButton = document.createElement('a')
                let button = document.createElement('button')
                updateButton.setAttribute('href', `/seller/update/${data[i].id}`)
                button.className = 'btn btn-primary'
                button.innerHTML = 'UPDATE ITEM'
                updateButton.appendChild(button)
                contentDiv.appendChild(updateButton)
                itemDiv.appendChild(contentDiv)
                itemsDiv.appendChild(itemDiv)
            }
        }
        getItemsOfSeller()
    </script>
</body>

</html>