<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/shoppingCard.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>This is home page for seller</h1>
    <form action="/logout" method="POST">
        <button type="submit" id="log-out">Log Out</button>
    </form>
    <a href="/addItem"><button type="button">Add an item</button></a>
    <a href="/seller/orders"><button>Orders by customers</button></a>
    <div class="items">

    </div>
    <script>
        function getItemsOfSeller() {
            fetch('/seller/items')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    displayItems(data);
                })
        }
        let titles = ['name', 'description', 'price', 'quantity']
        let titleNames = ['Name', 'Description', 'Price', 'Quantity']
        function displayItems(data) {
            let itemsDiv = document.querySelector('.items')
            for (let i = 0; i < data.length; i++) {
                let itemDiv = document.createElement('div')
                itemDiv.className = 'item'
                let imgDiv = document.createElement('div')
                let a = document.createElement('a')
                a.setAttribute('href', `/addimg/${data[i].id}`)
                let img = document.createElement('img')
                img.className = 'item-image'
                img.src = `/uploads/${data[i].image}`
                a.appendChild(img)
                imgDiv.appendChild(a)
                itemDiv.appendChild(imgDiv)
                let contentDiv = document.createElement('div')
                contentDiv.className = 'item-content'
                for (let j = 0; j < titles.length; j++) {
                    let p = document.createElement('p')
                    let title = titles[j]
                    p.innerHTML = `<b>${titleNames[j]}</b> : ${data[i][title]}`
                    contentDiv.appendChild(p)
                }
                let updateButton = document.createElement('a')
                updateButton.setAttribute('href', `/seller/update/${data[i].id}`)
                let button = document.createElement('button')
                button.innerHTML = 'UPDATE ITEM'
                updateButton.appendChild(button)
                contentDiv.appendChild(updateButton)
                itemDiv.appendChild(contentDiv)
                itemsDiv.appendChild(itemDiv)
            }
        }
        getItemsOfSeller()
    </script>
</body>

</html>