<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .items {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .item {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
        }

        .item>div {
            padding: 10px;
        }

        .item-image {
            border: 1px solid violet;
            width: 30%;
            height: 300px;
            overflow: hidden;
        }

        .item-content {
            border: 1px solid blue;
            width: 70%;
        }
    </style>
</head>

<body>
    <h1>This is home page for buyer</h1>
    <form action="/logout" method="POST">
        <button type="submit" id="log-out">Log Out</button>
    </form>
    <a href="/buyer/showCart"><button type="button">CART</button></a>
    <a href="/buyer/orders"><button type="button">YOUR ORDERS</button></a>
    <p>Your recent purchases:</p>
    <div class="purchases">

    </div>
    <p>Shop Items:</p>
    <div class="items">
    </div>
    <script>
        function getShoppingItems() {
            fetch('/buyer/items')
                .then(response => response.json())
                .then(data => {
                    displayShoppingItems(data);
                })
        }
        let titles = ['name', 'description', 'price', 'quantity', 'soldBy']
        let titleNames = ['Name', 'Description', 'Price', 'Quantity', 'Sold By']
        let cartItems = []
        function getCartItems() {
            fetch('/buyer/cart')
                .then(response => response.json())
                .then(data => {
                    cartItems = data
                    console.log(cartItems)
                })
        }
        getCartItems()
        function displayShoppingItems(data) {
            let itemsDiv = document.querySelector('.items')
            for (let i = 0; i < data.length; i++) {
                let itemDiv = document.createElement('div')
                itemDiv.className = 'item'
                let imgDiv = document.createElement('div')
                let img = document.createElement('img')
                img.className = 'item-image'
                img.src = `/uploads/${data[i].image}`
                imgDiv.appendChild(img)
                itemDiv.appendChild(imgDiv)
                let contentDiv = document.createElement('div')
                contentDiv.className = 'item-content'
                let quantityIsZero = false;
                for (let j = 0; j < titles.length; j++) {
                    let p = document.createElement('p')
                    let title = titles[j]
                    if (title === 'quantity' && data[i][title] === 0) {
                        quantityIsZero = true
                    }
                    p.innerHTML = `<b>${titleNames[j]}</b> : ${data[i][title]}`
                    contentDiv.appendChild(p)
                }
                //order Now and addToCart button
                let orderButton = document.createElement('button')
                if (quantityIsZero) {
                    orderButton.innerHTML = 'NO STOCK'
                }
                else {
                    orderButton.innerHTML = 'ORDER NOW'
                    orderButton.id = `order-item-${data[i].id}`
                    orderButton.onclick = () => {
                        orderItem(data[i].id)
                    }
                }
                contentDiv.appendChild(orderButton)
                let addToCart = document.createElement('button')
                addToCart.id = `add-cart-${data[i].id}`
                addToCart.innerHTML = 'ADD TO CART'
                addToCart.onclick = () => {
                    addCartItem(data[i].id)
                }

                contentDiv.appendChild(addToCart)
                itemDiv.appendChild(contentDiv)
                itemsDiv.appendChild(itemDiv)

            }
        }
        getShoppingItems()
        function orderItem(itemId) {
            //add order confirmation or 'item ordered message though alerts!'
            document.getElementById(`order-item-${itemId}`).innerHTML = 'ORDERED'
            //send id to server to be added to database
            const itemDetails = {
                id: itemId,
                quantity: 1
            }
            var xhr = new window.XMLHttpRequest();
            xhr.open('POST', `/buyer/order`, true)
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
            xhr.send(JSON.stringify(itemDetails));


        }
        function addCartItem(itemId) {
            alert('Item successfully added to cart')
            let item = cartItems.find(item => {
                if (item.id == itemId) {
                    return item.quantity
                }
            })
            if (item === undefined) {
                cartItems.push({ id: itemId, quantity: 1 })
            }
            else {
                let index = cartItems.findIndex(item => item.id == itemId)
                cartItems[index].quantity += 1
            }
            console.log(cartItems)
            const itemDetails = {
                cart: cartItems
            }
            var xhr = new window.XMLHttpRequest();
            xhr.open('POST', '/buyer/addToCart', true)
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
            xhr.send(JSON.stringify(itemDetails));
        }

    </script>
</body>

</html>