<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
    <link href="/css/itemForm.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="main">
        <div class="item-form">
            <h2>Update Item</h2>
            <p>Item id: <span id="item-id"><%= id %></span></p>
            <form method="post" class="form-item">
                <div class="form-group">
                    <label>Name of the product:</label><br>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Description of the product:</label><br>
                    <input type="text" name="description" id="description" class="form-control">
                </div>
                <div class="form-group">
                    <label>Quantity:</label><br>
                    <input type="number" name="quantity" id="quantity" class="form-control">
                </div>
                <div class="form-group">
                    <label>Price (in Rupees): </label><br>
                    <input type="number" name="price" id="price" class="form-control">
                </div>
                <button type="submit" class="btn btn-info">Update Details</button>
            </form>
        </div>
    </div>
    <script>
        let titles = ['name', 'description', 'quantity', 'price']
        let itemId = document.getElementById('item-id').innerHTML
        function getValuesOfItem(itemId) {
            fetch(`/seller/item/${itemId}`)
                .then(response => response.json())
                .then(data => {
                    setValuesToInput(data[0])
                })
        }

        getValuesOfItem(itemId)
        function setValuesToInput(object) {
            for (let i = 0; i < titles.length; i++) {
                let input = document.getElementById(`${titles[i]}`)
                input.value = object[titles[i]]
            }
        }
    </script>
</body>

</html>